body,
div,
p,
button,
form,
input,
h1,
h2,
textarea,
button,
ul,
li,
section,
aside {
    margin: 0;
    padding: 0;
    border: none;
    font-size: medium;
}

@font-face {
    font-family: "nanumGothicBold";
    src: url("../font/Nanum_barun_gothic_bold.ttf") format("truetype");
}
@font-face {
    font-family: "nanumGothic";
    src: url("../font/Nanum_barun_gothic.ttf") format("truetype");
}

@font-face {
    font-family: "ohmyu_daibbm";
    src: url("../font/ohmyu_daibbm.ttf");
}

/* == 헤딩 == */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 75px;
    border-bottom: 2px solid royalblue;
}

h1 {
    margin-left: 15vw;
}

h1 > img {
    height: 40px;
}

.slide-button > img {
    padding-right: 2vw;
    height: 40px;
}
.slide-button > img:hover {
    height: 60px;
    transition-duration: 0.5s;
}

/* == 여행계획 생성부 == */

/* 슬라이드 설정 */
main {
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
}
.slide-generator {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 0px;
    width: 100vw;
    height: fit-content;
    padding: 5vh 0 5vh 0;
    flex-shrink: 0;
    transition: left 0.15s;
    background: url(../img/main_img.jpg);
    background-position: center;
    background-size: cover;
}
/* 여행계획 생성 form */
.generator {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 10px;
    position: relative;
    max-width: 450px;
    padding: 30px;
    gap: 40px;
    background-color: whitesmoke;
}

.gen-label {
    text-align: center;
}

.gen-label > img {
    height: 30px;
}

.gen-notice {
    font-family: "nanumGothic";
    word-break: keep-all;
    line-height: 23px;
}

.gen-input {
    display: flex;
    flex-direction: column;
}
.gen-input > label {
    font-size: 16px;
    font-family: "nanumGothicBold";
}

.gen-input > input {
    height: 35px;
    border: 2px solid lightblue;
    border-radius: 5px;
    background-color: #e8f0fe;
}

.gen-input > textarea {
    box-sizing: border-box;
    border: 2px solid lightblue;
    border-radius: 5px;
    background-color: #e8f0fe;
    resize: none;
    padding: 5px;
}

.gen-input > textarea::placeholder {
    font-size: 14px;
}
::-webkit-calendar-picker-indicator {
    width: 100%;
    height: 37px;
    position: absolute;
    background: transparent;
}
.gen-button {
    display: flex;
    justify-content: space-around;
    gap: 20px;
}
.gen-button > button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 30px;
    padding: 25px 20px 25px 20px;
    border-radius: 10px;
    background-color: royalblue;
    font-weight: 600;
    font-size: 16px;
    color: whitesmoke;
    box-shadow: 2px 2px 2px black;
}

.gen-button > button:hover {
    box-shadow: none;
    transition-duration: 0.5s;
}

/* 여행계획 생성 로딩스크린 */
loading-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    height: 100%;
    position: absolute;
    margin-left: -30px;
    background-color: grey;
    opacity: 0.97;
    border-radius: inherit;
}
loading-screen.hide {
    display: none;
}

loading-screen > div {
    font-weight: 700;
    font-size: 18px;
    padding: 20px;
    text-align: center;
}

loading-bar {
    display: flex;
    gap: 5px;
    width: 45px;
}

loading-bar span {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: gray;
    border-radius: 50%;
    animation: loading 1s 0s linear infinite;
}
loading-bar span:nth-child(1) {
    animation-delay: 0s;
    background-color: red;
}

loading-bar span:nth-child(2) {
    animation-delay: 0.2s;
    background-color: orange;
}

loading-bar span:nth-child(3) {
    animation-delay: 0.4s;
    background-color: yellowgreen;
}

/* == 여행계획 표시부 == */

/* 슬라이드 설정 */
.slide-viewer {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    left: 0px;
    width: 100vw;
    flex-shrink: 0;
    transition: left 0.15s;
}

.viewer-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin: 20px 0 20px 0;
}

.viewer-label {
    height: 30px;
    margin: 20px 0px 20px 0;
}

/* 여행계획 표시 박스 */
.plan-box {
    text-align: center;
    border: 2px solid royalblue;
    border-radius: 10px;
    width: 1330px;
}

.plan-box > p {
    font-weight: 700;
    padding: 0 30px 10px 30px;
    font-size: 12px;
}

.plan-label {
    font-family: "ohmyu_daibbm";
    padding: 40px 0 20px 0;
    font-size: 30px;
}
/* 여행계획 카드 */
.card-box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
    gap: 30px;
}

.card {
    display: flex;
    flex-direction: column;
    width: 300px;
}
.card-label-row {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 3px solid black;
    border-radius: 10px 10px 0 0;
    height: 50px;
    background-color: royalblue;
    color: whitesmoke;
    font-family: "ohmyu_daibbm";
    font-size: 20px;
}
.card-detail {
    display: flex;
    height: 100%;
    gap: 10px;
    flex-direction: column;
    justify-content: space-evenly;
    border: 2px solid royalblue;
    border-top: none;
    border-radius: 0 0 10px 10px;
    padding: 15px;
    word-break: keep-all;
}
.card-row {
    display: flex;
    min-height: 25px;
}

.card-row > .time {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 67px;
    max-width: 67px;
    font-size: 14px;
    margin-right: 5px;
}

.card-row > .detail {
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: 3px solid royalblue;
    padding-left: 10px;
    flex-grow: 1;
    font-size: 14px;
}

/* 슬라이드 기능 구현*/
.slide-item[view="two"] {
    left: -100vw;
}

/* == 챗봇 ==  */

/* 챗 스크린 */
.chat-bot {
    position: fixed;
    right: 2rem;
    bottom: 2rem;
}
.chat-window {
    display: block;
    background-color: #677bac;
    border: 1px solid rgb(190, 190, 190);
    border-radius: 5px 5px 0 0;
    width: 30vw;
}
.chat-window.hide {
    display: none;
}
.chat-screen {
    height: 50vh;
    overflow: auto;
    padding: 10px;
}

ai-chat {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    margin-top: 20px;
}

ai-chat:first-child {
    margin-top: 0;
}

ai-chat img {
    width: 50px;
}

chat-content {
    width: fit-content;
    max-width: 40vw;
    padding: 10px;
}

ai-chat chat-content {
    background-color: orange;
    border-radius: 0 20px 20px 20px;
    margin-top: 20px;
}

ai-chat loading-bar {
    margin-left: 5px;
}

user-chat {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

user-chat chat-content {
    background-color: skyblue;
    border-radius: 20px 20px 0 20px;
}

.chat-form {
    background-color: whitesmoke;
    border-top: 2px solid #363636;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
}

.chat-form textarea {
    resize: none;
    background-color: whitesmoke;
    flex-grow: 1;
    height: 60px;
    border: 0;
    outline: none;
}

.chat-button {
    background-color: royalblue;
    color: white;
    border-radius: 10px;
    width: 80px;
    height: 60px;
    font-weight: 700;
    box-shadow: 1px 1px 1px black;
}

.chat-button:hover {
    box-shadow: none;
}

/* 챗봇 숨기기, 표시하기 */
.chat-hide {
    width: 100%;
    background: none;
}
.chat-hide > img {
    height: 40px;
    transition-duration: 0.5s;
}
.chat-hide.notice > img {
    animation: wait 2s infinite;
}
.chat-hide > img:hover {
    height: 60px;
    animation: none;
}

.chat-hide.open {
    border-radius: 0 0 5px 5px;
    background-color: royalblue;
    height: 40px;
    color: white;
    font-size: 18px;
}

/* == animation == */

@keyframes loading {
    0%,
    100% {
        opacity: 0;
        transform: scale(0.5);
    }
    50% {
        opacity: 1;
        transform: scale(1.2);
    }
}

@keyframes wait {
    0%,
    100% {
        transform: scale(0.8);
    }
    50% {
        transform: scale(1);
    }
}

/* == 여행계획 생성부 반응형 == */
@media (max-width: 560px) {
    .generator {
        width: 90vw;
        padding: 30px 20px 30px 20px;
    }
    loading-screen {
        margin-left: -20px;
    }
}

@media (max-width: 420px) {
    .generator {
        width: 90vw;
        padding: 30px 15px 30px 15px;
    }
    loading-screen {
        margin-left: -15px;
    }
    .chat-window {
        width: 80vw;
    }
}

/* == 여행계획 표시부 및 챗봇 반응형 == */
@media (max-width: 1400px) {
    .plan-box {
        width: 1000px;
    }
}

@media (max-width: 1100px) {
    .plan-box {
        width: 670px;
    }
    .chat-window {
        width: 45vw;
    }
}

@media (max-width: 720px) {
    .plan-box {
        width: 350px;
    }
    .card-box {
        justify-content: center;
    }
    .chat-window {
        width: 70vw;
    }
}
