body,
div,
p,
button,
form,
input,
h1,
h2,
textarea,
button,
ul,
li,
section,
aside {
    margin: 0;
    padding: 0;
    border: none;
    font-size: medium;
}

ul {
    list-style: none;
}

/* theme에 따른 색상 지정*/
body {
    --background-color: whitesmoke;
    --font-color: #363636;
    --main-color: royalblue;
    --footer-color: #e8f0fe;
    --chat-window-color: #677bac;
    --main-image: url(../img/background_main.jpg);
    --gen-label: url(../img/logo_generator.png);
    --viewer-label: url(../img/logo_viewer.png);
    --github-icon: url(../img/icon_github.png);

    &[theme="dark"] {
        --background-color: #363636;
        --font-color: #cccccc;
        --main-color: royalblue;
        --footer-color: #363636;
        --chat-window-color: #37425c;
        --main-image: url(../img/background_main_dark.jpg);
        --gen-label: url(../img/logo_generator_dark.png);
        --viewer-label: url(../img/logo_viewer_dark.png);
        --github-icon: url(../img/icon_github_white.png);
    }
}

@font-face {
    font-family: "nanumGothicBold";
    src: url("./font/Nanum_barun_gothic_bold.ttf") format("truetype");
}
@font-face {
    font-family: "nanumGothic";
    src: url("./font/Nanum_barun_gothic.ttf") format("truetype");
}

@font-face {
    font-family: "ohmyu_daibbm";
    src: url("./font/ohmyu_daibbm.ttf");
}

body {
    color: var(--font-color);
    background-color: var(--background-color);
}

/* == 헤딩 == */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    height: 75px;
    border-bottom: 2px solid royalblue;
}

h1 {
    margin-left: 15vw;
    flex-grow: 1;
}

h1 > img {
    height: 40px;
}

/* 테마 변경 버튼 */
.theme-list {
    position: relative;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    gap: 20px;
}

.theme-list > li {
    /* box-sizing: border-box; */
    padding: 4px;
    height: 20px;
}

.theme-list img {
    border-radius: 5px;
    padding: 4px;
    height: 12px;
}
.theme-list img:hover {
    box-shadow: 0 0 10px var(--font-color);
}

/* 슬라이드 버튼 */
.slide-button {
    flex-shrink: 0;
    width: 60px;
    margin-right: 10px;
}

.slide-button > img {
    height: 40px;
}
.slide-button > img:hover {
    height: 60px;
    transition-duration: 0.5s;
}

/* == 여행계획 생성부 == */

/* 슬라이드 설정 */
main {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: hidden;
}

.slide-generator {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    transition: left 0.15s;
    position: relative;
    left: 0px;
    width: 100vw;
    height: 1000px;
    background: var(--main-image);
    background-position: center;
    background-size: cover;
}

/* 여행계획 생성 form */
.generator {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    position: relative;
    max-width: 450px;
    margin-top: auto;
    padding: 30px;
    gap: 40px;
    background-color: var(--background-color);
}

.gen-label {
    display: flex;
    justify-content: center;
}

.gen-label > div {
    height: 30px;
    width: 184px;
    background: var(--gen-label);
}

.gen-notice {
    font-family: "nanumGothic";
    word-break: keep-all;
    line-height: 23px;
}

.gen-input {
    position: relative;
    display: flex;
    flex-direction: column;
}
.gen-input > label {
    font-size: 16px;
    font-family: "nanumGothicBold";
}
.gen-input > .notice {
    position: absolute;
    top: 100%;
    left: 1%;
    color: red;
    border-radius: 0 10px 10px 10px;
    padding: 5px;
    font-size: 12px;
}

.gen-input > input {
    display: flex;
    border: 2px solid lightblue;
    border-radius: 5px;
    background-color: #e8f0fe;
    padding: 12px 10px;
    margin-top: 5px;
}

.gen-input > textarea {
    box-sizing: border-box;
    border: 2px solid lightblue;
    border-radius: 5px;
    background-color: #e8f0fe;
    resize: none;
    padding: 10px 10px;
    margin-top: 5px;
}

.gen-input > textarea::placeholder {
    font-size: 14px;
}
::-webkit-calendar-picker-indicator {
    width: 100%;
    height: 37px;
    position: absolute;
    background: transparent;
}
.gen-button {
    display: flex;
    justify-content: space-around;
    gap: 20px;
}
.gen-button > button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 30px;
    padding: 25px 20px 25px 20px;
    border-radius: 10px;
    background-color: royalblue;
    font-weight: 600;
    font-size: 16px;
    color: whitesmoke;
    box-shadow: 2px 2px 2px black;
}

.gen-button > button:hover {
    box-shadow: 3px 3px 2px black;
    transition-duration: 300ms;
}

.gen-button > button:active {
    box-shadow: none;
}

/* 여행계획 생성 로딩스크린 */
.loading-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    height: 100%;
    position: absolute;
    margin-left: -30px;
    background-color: rgb(128, 128, 128, 0.9);
    border-radius: inherit;
}
.loading-screen.hide {
    display: none;
}

.loading-screen > div {
    font-weight: 700;
    font-size: 18px;
    padding: 20px;
    text-align: center;
    word-break: keep-all;
}

.loading-bar {
    display: flex;
    gap: 5px;
    width: 45px;
}

.loading-bar span {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: gray;
    border-radius: 50%;
    animation: loading 1s 0s linear infinite;
}
.loading-bar span:nth-child(1) {
    animation-delay: 0s;
    background-color: red;
}

.loading-bar span:nth-child(2) {
    animation-delay: 0.2s;
    background-color: orange;
}

.loading-bar span:nth-child(3) {
    animation-delay: 0.4s;
    background-color: yellowgreen;
}

/* == 여행계획 표시부 == */

/* 슬라이드 설정 */
.slide-viewer {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    left: 0px;
    width: 100vw;
    flex-shrink: 0;
    transition: left 0.15s;
}

.viewer-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin: 20px 0 20px 0;
}

.viewer-label {
    display: flex;
    margin: 20px 0px 20px 0;
}
.viewer-label {
    height: 30px;
    width: 150px;
    background: var(--viewer-label);
    background-repeat: no-repeat;
    background-position: center;
}

/* 여행계획 표시 박스 */
.plan-box {
    text-align: center;
    border: 2px solid royalblue;
    border-radius: 10px;
    width: 1330px;
}

.plan-box > p {
    font-weight: 700;
    padding: 0 30px 10px 30px;
    font-size: 12px;
}

.plan-label {
    font-family: "ohmyu_daibbm";
    padding: 40px 0 20px 0;
    font-size: 26px;
}
/* 여행계획 카드 */
.card-box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
    gap: 30px;
}

.card {
    display: flex;
    flex-direction: column;
    width: 300px;
}
.card-label-row {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 3px solid black;
    border-radius: 10px 10px 0 0;
    height: 50px;
    background-color: royalblue;
    color: whitesmoke;
}
.card-label {
    font-family: "ohmyu_daibbm";
    font-size: 19px;
}

.card-detail {
    display: flex;
    height: 100%;
    gap: 10px;
    flex-direction: column;
    justify-content: space-evenly;
    border: 2px solid royalblue;
    border-top: none;
    border-radius: 0 0 10px 10px;
    padding: 15px;
    word-break: keep-all;
}
.card-row {
    display: flex;
    min-height: 25px;
}

.card-row > .time {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 67px;
    max-width: 67px;
    font-size: 14px;
    margin-right: 5px;
}

.card-row > .detail {
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: 3px solid royalblue;
    padding-left: 10px;
    flex-grow: 1;
    font-size: 14px;
}

/* 슬라이드 기능 구현*/
.slide-item[view="two"] {
    left: -100vw;
}

/* == footer --*/

footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: auto;
    width: 100%;
    min-height: 80px;
    border-top: 2px solid royalblue;
    background: var(--footer-color);
}

.github-link {
    order: 1;
}
.github-link > div {
    height: 25px;
    width: 25px;
    margin-left: 20px;
    background: var(--github-icon);
    background-size: contain;
}

.page-description {
    order: 2;
    flex-grow: 1;
    text-align: center;
    padding: 20px;
    word-break: keep-all;
}

/* == 챗봇 ==  */

/* 챗 스크린 */
.chat-bot {
    position: fixed;
    right: 2rem;
    bottom: 2rem;
    z-index: 10;
}
.chat-window {
    display: block;
    background-color: var(--chat-window-color);
    border: 1px solid rgb(190, 190, 190);
    border-radius: 5px 5px 0 0;
    width: 30vw;
}
.chat-window.hide {
    display: none;
}
.chat-screen {
    height: 50vh;
    overflow: auto;
    padding: 10px;
}

.ai-chat {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    margin-top: 20px;
}

.ai-chat:first-child {
    margin-top: 0;
}

.ai-chat img {
    width: 50px;
}

.chat-content {
    width: fit-content;
    padding: 10px;
    color: #363636;
}

.ai-chat .chat-content {
    background-color: orange;
    border-radius: 0 20px 20px 20px;
    margin-top: 20px;
    margin-right: 20px;
}

.ai-chat .loading-bar {
    margin-left: 5px;
}

.user-chat {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

.user-chat .chat-content {
    background-color: skyblue;
    border-radius: 20px 20px 0 20px;
    margin-left: 50px;
}

.chat-form {
    background-color: whitesmoke;
    border-top: 2px solid #363636;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
}

.chat-form textarea {
    resize: none;
    background-color: whitesmoke;
    flex-grow: 1;
    height: 60px;
    border: 0;
    outline: none;
}

.chat-button {
    background-color: royalblue;
    color: white;
    border-radius: 10px;
    width: 80px;
    height: 60px;
    font-weight: 700;
    box-shadow: 1px 1px 1px black;
}

.chat-button:hover {
    box-shadow: 2px 2px 1px black;
    transition-duration: 300ms;
}

.chat-button:active {
    box-shadow: none;
}

/* 챗봇 숨기기, 표시하기 */
.toggle-chat {
    width: 100%;
    background: none;
}
.toggle-chat > img {
    height: 40px;
    transition-duration: 0.5s;
}
.toggle-chat.notice > img {
    animation: wait 2s infinite;
}
.toggle-chat > img:hover {
    height: 60px;
    animation: none;
}

.toggle-chat.open {
    border: 1px solid var(--font-color);
    border-top: none;
    border-radius: 0 0 5px 5px;
    background-color: royalblue;
    height: 40px;
    color: white;
    font-size: 18px;
}

/* == alert modal == */
.alert-screen {
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    top: 0;
    min-width: 100%;
    min-height: 100%;
    background-color: rgb(128, 128, 128, 0.9);
    z-index: 20;
}

.alert-box {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: whitesmoke;
    border-radius: 10px;
    padding: 70px 30px 30px 30px;
    gap: 50px;
}

.alert-box > p {
    font-weight: 600;
}

.alert-box > button {
    background-color: royalblue;
    border-radius: 10px;
    color: white;
    font-weight: 600;
    width: 200px;
    height: 50px;
    box-shadow: 2px 2px 2px black;
}

.alert-box > button:hover {
    box-shadow: 3px 3px 2px black;
    transition-duration: 100ms;
}

.alert-box > button:active {
    box-shadow: none;
}

/* 챗봇 alert modal 레이아웃변경  */
.chat-window > .alert-screen {
    position: absolute;
    border-radius: 5px;
}

/* alert modal 기능 구현 */
.alert-screen.show {
    display: flex;
}

/* == animation == */

@keyframes loading {
    0%,
    100% {
        opacity: 0;
        transform: scale(0.5);
    }
    50% {
        opacity: 1;
        transform: scale(1.2);
    }
}

@keyframes wait {
    0%,
    100% {
        transform: scale(0.8);
    }
    50% {
        transform: scale(1);
    }
}

/* == 여행계획 생성부 및 헤더 반응형 == */
@media (max-width: 560px) {
    /* 여행계획 생성부 반응형 */
    .slide-generator {
        height: 870px;
        background: none;
        background-color: var(--background-color);
        border: none;
        border-radius: 0px;
    }
    .generator {
        max-width: 92vw;
        margin-top: 0;
        padding: 30px 20px 30px 20px;
    }
    .loading-screen {
        border-radius: 0px;
        margin-left: -20px;
    }
    /* 헤더 반응형 */
    header {
        gap: 20px;
    }
    h1 {
        margin-left: 5vw;
    }
    .theme-list {
        flex-wrap: nowrap;
        gap: 0;
        width: 65px;
        overflow: hidden;
    }
    .theme-list > li {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        left: 0;
        width: 65px;
        transition-duration: 0.15s;
    }

    .theme-list > li[view="dark"] {
        left: -60px;
    }
}

/* == 여행계획 표시부 및 챗봇 반응형 == */
@media (max-width: 1400px) {
    .plan-box {
        width: 1000px;
    }
}

@media (max-width: 1100px) {
    .plan-box {
        width: 670px;
    }
    .chat-window {
        width: 45vw;
    }
}

@media (max-width: 720px) {
    .plan-box {
        width: 350px;
    }
    .card-box {
        justify-content: center;
    }
    .chat-window {
        width: 70vw;
    }
}

@media (max-width: 470px) {
    .generator {
        padding: 30px 15px 30px 15px;
    }
    .loading-screen {
        margin-left: -15px;
    }
    .chat-window {
        width: 80vw;
    }
}
